@charset "UTF-8";
body {
  padding-top: 0;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fffddf;
  z-index: 2000;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader.is-active {
  display: flex;
}

.loader_sun {
  width: 100px;
}

.loader_sun.is-hidden {
  transform: translateY(100px);
  transition: 2.5s;
}

.loader_box {
  position: relative;
  margin-top: 20px;
}
.loader_box img {
  width: 250px;
}

.loader_text {
  position: absolute;
  left: 50%;
  top: 7%;
  transform: translate(-40%);
  font-size: 20px;
  color: #171c61;
  text-align: center;
}

.loaded {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #171c61;
  z-index: 2001;
  top: 0;
  left: 0;
}

/* 真っ暗な背景のスタイル */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #171c61; /* 黒の背景 */
  z-index: 9999; /* コンテンツより前面に表示 */
  opacity: 0; /* 最初は透明 */
  transition: opacity 1.5s; /* フェードのアニメーションを追加 */
  pointer-events: none; /* イベントの対象外にする */
  visibility: hidden;
}

/* コンテンツを包む要素 */
.content {
  visibility: hidden; /* 初期状態は非表示 */
  opacity: 0;
  transition: opacity 1.2s;
}

body {
  background-color: #fffef5;
}

h2 {
  font-weight: normal;
}

.header_logo_fv {
  width: 120px;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 200;
}

.is-fixed {
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  opacity: 1 !important;
  transition: 0.4s;
}
.is-fixed img {
  width: 70px;
}
.is-fixed .header_menu_pc {
  top: 30px;
}

@media screen and (max-width: 1000px) {
  .header_logo_fv {
    width: 70px;
  }
}
@media screen and (max-width: 767px) {
  .header_logo_fv {
    width: 50px;
  }
  .header_menu_pc {
    display: none;
  }
  .is-fixed {
    height: 60px;
  }
  .is-fixed img {
    width: 60px;
    margin-top: 4px;
  }
  .is-fixed .sp_btn {
    top: 8%;
  }
  .sp_btn {
    top: 5%;
  }
}
.header_menu_pc {
  position: absolute;
  top: 70px;
  right: 5%;
  z-index: 200;
}
.header_menu_pc ul {
  display: flex;
}
.header_menu_pc li {
  padding-right: 3vw;
  color: #fffddf;
  font-size: 17px;
}
.header_menu_pc ul li:last-child {
  padding-right: 0;
}

#mv {
  position: relative;
}

.mv_main {
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  z-index: -100;
}
.mv_main img {
  display: block;
  width: 100%;
  height: auto;
}

.mv_main_sp {
  display: none;
}

.mv_foot {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 0.8s;
}

.mv_foot4 {
  width: 60px;
  position: absolute;
  top: 30%;
  left: 29%;
  transform: rotate(-15deg);
}

.mv_foot3 {
  width: 60px;
  position: absolute;
  top: 40%;
  left: 23%;
  transform: rotate(10deg);
}

.mv_foot2 {
  width: 60px;
  position: absolute;
  top: 46%;
  left: 30%;
  transform: rotate(-12deg);
}

.mv_foot1 {
  width: 60px;
  position: absolute;
  top: 58%;
  left: 24%;
  transform: rotate(12deg);
}

.mv_text {
  color: #fffddf;
  font-size: 30px;
  position: absolute;
  bottom: 35%;
  right: 10%;
  line-height: 1.5;
}

.fadeUp {
  transform: translateY(20px);
}

@media screen and (max-width: 1000px) {
  .mv_foot4 {
    width: 35px;
  }
  .mv_foot3 {
    width: 35px;
  }
  .mv_foot2 {
    width: 35px;
  }
  .mv_foot1 {
    width: 35px;
  }
  .mv_text {
    font-size: 25px;
  }
}
@media screen and (max-width: 767px) {
  .mv_main {
    display: none;
  }
  .mv_main_sp {
    display: block;
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
    z-index: -100;
  }
  .mv_main_sp img {
    display: block;
    width: 100%;
    height: auto;
  }
  .mv_foot4 {
    width: 30px;
    top: 50%;
    left: 35%;
  }
  .mv_foot3 {
    width: 30px;
    top: 57%;
  }
  .mv_foot2 {
    width: 30px;
    top: 65%;
    left: 36%;
  }
  .mv_foot1 {
    width: 30px;
    top: 75%;
    left: 27%;
  }
  .mv_text {
    font-size: 17px;
    text-align: center;
    line-height: 1.76;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
}
body {
  padding: 0;
  margin: 0;
}

#layout {
  color: transparent;
  height: 600px;
  width: 100%;
  height: 100%;
}

.stars {
  z-index: 0;
  position: absolute;
  /*   background-image: url(   https://www.manufosela.es/shooting_stars/hori.png), url( https://www.manufosela.es/shooting_stars/stars_5.png); */
  /*   background-repeat: repeat-x, repeat-x repeat-y; */
  transform: translate3D(0em, 0em, 0);
  animation: stars 21s ease;
  transform-style: preserve-3d;
}

#concept {
  position: relative;
}

.concept_text {
  font-size: 17px;
  line-height: 1.8;
  text-align: center;
  margin: 0 auto;
  margin-top: 72px;
}

.concept_scroll {
  position: absolute;
  bottom: -70%;
  left: 50%;
}
.concept_scroll span {
  position: absolute;
  left: 10px;
  bottom: 0;
  color: #171c61;
  font-size: 13px;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  writing-mode: vertical-rl;
}
.concept_scroll::after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: 0;
  /*線の形状*/
  width: 1px;
  height: 35px;
  background: #171c61;
}
.concept_scroll::before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: -4px;
  /*丸の形状*/
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f7d379;
  /*丸の動き1.6秒かけて透過し、永遠にループ*/
  animation: circlemove 1.6s ease-in-out infinite, cirlemovehide 1.6s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove {
  0% {
    bottom: 45px;
  }
  100% {
    bottom: -5px;
  }
}
/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
.about_all {
  margin-top: 240px;
  display: flex;
}

h2 {
  font-size: 28px;
}

.title_sub1 {
  color: #18448e;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 6px;
}

.about_content {
  display: block;
  padding-left: 45px;
  width: 30%;
}

.about_text {
  padding-top: 42px;
  font-size: 15px;
  line-height: 1.53;
}

.about_title {
  display: block;
}

.about_head {
  display: flex;
}

.about_clock {
  width: 80px;
  padding-left: 15px;
  margin-top: -15px;
}

.about_me {
  width: 25%;
  min-width: 250px;
  padding-left: 8%;
  padding-right: 8%;
}

.about_me_sp {
  display: none;
}

.about_text_sp {
  display: none;
}

.view_more1_sp {
  display: none;
}

.view_more1 {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  position: relative;
  margin-top: 35px;
}
.view_more1::after {
  background-color: #171c61;
  bottom: 0;
  content: "";
  height: 1px;
  margin-left: 12px;
  left: 20%;
  top: 50%;
  position: absolute;
  transition: 0.5s all;
  width: 0;
}
.view_more1:hover::after {
  width: 185px;
}

@media screen and (max-width: 767px) {
  .concept_text {
    font-size: 13px;
    line-height: 1.84;
    margin-top: 52px;
  }
  #about {
    margin-top: 80px;
  }
  #about h2 {
    font-size: 20px;
  }
  #about p {
    font-size: 15px;
  }
  .about_sp {
    max-width: 250px;
    margin: 0 auto;
  }
  .about_content {
    width: 80%;
    padding-left: 18px;
  }
  .about_me {
    display: none;
  }
  .about_text {
    display: none;
  }
  .view_more1 {
    display: none;
  }
  .about_me_sp {
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: -30px;
  }
  .about_text_sp {
    font-feature-settings: "palt";
    display: block;
    font-size: 12px;
    line-height: 1.5;
  }
  .view_more1_sp {
    justify-content: flex-end;
    position: relative;
    font-size: 12px;
    padding-right: 120px;
    color: #18448e;
    margin: 35px 0 0 auto;
    display: flex;
    align-items: center; /* 垂直中心 */
  }
  .view_more1_sp::after {
    position: absolute;
    background: #171c61;
    bottom: 0;
    height: 1px;
    content: "";
    left: 50%;
    top: 62%;
    width: 0; /* 線の長さ */
    margin-left: 12px;
    transform: 0.3s;
    transition: 0.5s all;
  }
  .view_more1_sp:hover::after {
    width: 110px;
  }
  .view_more1_sp .concept_scroll span {
    font-size: 11px;
  }
  .about_sky {
    width: 65px;
  }
  .about_clock {
    width: 50px;
    padding-left: 10px;
    margin-top: 0;
  }
}
.works_top {
  margin-top: 215px;
  display: flex;
  text-align: right;
  justify-content: flex-end;
}

.title_sub2 {
  color: #211e55;
  padding-top: 10px;
  padding-right: 6px;
  font-size: 20px;
}

.works_content {
  display: block;
  width: 30%;
  margin-top: 130px;
  padding-right: 45px;
}

.works_text {
  font-size: 15px;
  line-height: 1.66;
  padding-top: 30px;
}

.works_title {
  display: block;
}

.works_head {
  display: flex;
  justify-content: flex-end;
}

.works_clock {
  position: relative;
  width: 80px;
  padding-right: 10px;
  margin-top: -15px;
}

.works_circle {
  position: absolute;
  text-align: center;
  top: 0;
  left: calc(50% - 5px);
  transform: translate(-50%, -100%);
}
.works_circle div {
  margin-bottom: 30px;
}

/* fadeUp */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.fadeUpTrigger {
  opacity: 0;
}

.myworks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 5%;
  margin-top: 20px;
}

.myworks_content_site {
  width: 30%;
  aspect-ratio: 1;
  background: #dcdde7;
  margin-bottom: 47px;
}

.myworks_content_banner {
  width: 30%;
  aspect-ratio: 1;
  background: #dcdde7;
}
.myworks_content_banner img {
  width: 250px;
}

.myworks_content_site,
.myworks_content_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}

.view_more2 {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  position: relative;
  margin: 30px 0 0 auto;
  padding-right: 185px;
}
.view_more2::after {
  background-color: #171c61;
  bottom: 0;
  margin-left: 12px;
  content: "";
  height: 1px;
  left: 30%;
  top: 50%;
  position: absolute;
  width: 0;
  transform: 0.3s;
  transition: 0.5s all;
}
.view_more2:hover::after {
  width: 65%;
}

.works_btn {
  display: flex;
  justify-content: flex-end;
  max-width: 1000px;
  margin: 0 auto;
  padding-right: 5%;
  padding-left: 5%;
}

@media screen and (max-width: 767px) {
  .works_sky {
    width: 63px;
  }
  .works_clock {
    width: 50px;
  }
  .works_content {
    width: 80%;
    margin-top: 0;
    padding-right: 18px;
  }
  .works_content h2 {
    font-size: 20px;
  }
  .title_sub2 {
    font-size: 15px;
    padding-top: 6px;
  }
  .works_text {
    font-size: 12px;
    line-height: 1.5;
    padding-top: 20px;
  }
  .myworks {
    display: block;
    margin-top: 70px;
  }
  .myworks_content_site {
    width: 100%;
    aspect-ratio: 1;
    margin-bottom: 40px;
  }
  .myworks_content_banner {
    display: none;
  }
  .view_more2 {
    margin-top: -25px;
    padding-right: 120px;
    font-size: 12px;
    justify-content: flex-end;
  }
  .view_more2:hover::after {
    width: 110px;
  }
}
#service {
  margin-top: 150px;
}

.service_top {
  display: flex;
}

h2 {
  font-size: 28px;
}

.title_sub3 {
  color: #191c32;
  font-size: 20px;
  padding-top: 10px;
  padding-left: 6px;
}

.service_head {
  display: flex;
  padding-left: 45px;
  padding-top: 130px;
  width: 30%;
}

.service_title {
  display: block;
}

.service_clock {
  position: relative;
  width: 80px;
  padding-left: 15px;
  margin-top: -15px;
}

.service_circle {
  position: absolute;
  text-align: center;
  top: 0;
  left: calc(50% + 5px);
  transform: translate(-50%, -100%);
}
.service_circle div {
  margin-bottom: 30px;
}

.service_content {
  max-width: 690px;
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.service_content h3 {
  font-weight: normal;
  font-size: 20px;
  padding-top: 40px;
  border-bottom: 1px #171c61 solid;
  padding-bottom: 8px;
  margin-bottom: 14px;
}
.service_content p {
  font-size: 15px;
  line-height: 1.5;
}

.service_design {
  width: 35%;
  padding-bottom: 100px;
}
.service_design img {
  width: 165px;
}

.service_cording {
  width: 35%;
  padding-bottom: 100px;
}
.service_cording img {
  width: 189px;
}

.service_writing {
  width: 35%;
}
.service_writing img {
  width: 180px;
}

.service_others {
  width: 35%;
}
.service_others img {
  width: 162px;
}

@media screen and (max-width: 767px) {
  .service_sky {
    width: 63px;
  }
  .service_clock {
    width: 50px;
    margin: 0;
    padding-left: 10px;
  }
  .service_top h2 {
    font-size: 20px;
  }
  .service_top p {
    font-size: 15px;
  }
  .service_head {
    width: 80%;
    padding-left: 18px;
    padding-top: 40px;
  }
  .service_content {
    display: block;
    padding-top: 75px;
    max-width: 250px;
  }
  .service_content h3 {
    font-size: 15px;
    padding-top: 30px;
    border-bottom: 1px solid #171c61;
    padding-bottom: 8px;
    margin-bottom: 10px;
  }
  .service_content p {
    font-size: 12px;
    line-height: 1.83;
    font-feature-settings: "palt";
  }
  .service_design {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 60px;
  }
  .service_design div {
    padding-right: 22px;
    text-align: center;
  }
  .service_design img {
    width: 130px;
  }
  .service_cording {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 60px;
  }
  .service_cording div {
    text-align: center;
    padding-right: 18px;
  }
  .service_cording img {
    width: 148px;
  }
  .service_writing {
    margin: 0 auto;
    width: 100%;
    padding-bottom: 60px;
  }
  .service_writing div {
    text-align: center;
    padding-right: 20px;
  }
  .service_writing img {
    width: 130px;
  }
  .service_others {
    margin: 0 auto;
    width: 100%;
  }
  .service_others div {
    text-align: center;
    padding-right: 20px;
  }
  .service_others img {
    width: 125px;
  }
}
#contact {
  margin-top: 250px;
}

.contact_content {
  display: flex;
  justify-content: flex-end;
}

.contact_sky {
  margin-top: 90px;
}

.contact_head {
  display: block;
  margin: 0 auto;
  padding-left: 15%;
  text-align: center;
}
.contact_head p {
  color: #7ec7d8;
  padding-top: 10px;
  font-size: 20px;
}

.contact_clock {
  position: relative;
  padding-bottom: 40px;
  width: 80px;
  display: block;
  margin: 0 auto;
}

.contact_circle {
  position: absolute;
  text-align: center;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}
.contact_circle div {
  margin-bottom: 30px;
}

.contact_text {
  font-size: 15px;
  line-height: 1.4;
  padding-top: 82px;
  margin-bottom: 95px;
}

@media screen and (max-width: 767px) {
  .contact_clock {
    width: 50px;
    padding-bottom: 20px;
  }
  .contact_head h2 {
    font-size: 20px;
  }
  .contact_head p {
    font-size: 15px;
    padding-top: 10px;
  }
  .contact_sky {
    width: 63px;
    margin: 0;
  }
  .contact_text {
    padding-top: 30px;
    font-size: 12px;
    line-height: 1.7;
    margin-bottom: 40px;
    font-feature-settings: "palt";
  }
  .contact_button {
    width: 250px;
    height: 50px;
    font-size: 15px;
    margin: 0 auto;
  }
  .circle3 {
    width: 25px;
    margin: 0 auto;
  }
  .circle2 {
    width: 15px;
    margin: 0 auto;
  }
  .circle1 {
    width: 8px;
    margin: 0 auto;
  }
  .works_circle div {
    margin-bottom: 12px;
  }
  .service_circle div {
    margin-bottom: 12px;
  }
  .contact_circle div {
    margin-bottom: 12px;
  }
}
#footer {
  margin-top: 120px;
}/*# sourceMappingURL=style.css.map */